body{ background-image:url("359168.jpg") ;
    padding:0px;
    margin:0px;
}
.navbar{
    background-color: rgb(50, 44, 57);



}
.navbar ul{
    list-style-type: none;
    padding: 5px;
    margin:0;
    overflow: hidden;

}
.navbar ul li{
    float:left;
}
.navbar ul li{
    display:inline-block;
}
.navbar ul li a{
    color:rgb(230, 213, 23);
    text-align: center;
    padding:10px 20px;
    text-decoration: none;
    display:inline-block;

}

.navbar ul li a:hover{
    color:white;
    background-color:black;

}
.kal{
margin-top: 300px;
margin-left: 400px;
    padding: 5px; 
    text-align: center;
    height: 100px;
    width: 700px;
   font-size: 50px;
    color:white;
    text-shadow: 4px 4px 6px rgb(239, 227, 1);
}